
/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Paleta de cores */
    --cor-primaria: #193963;
    --cor-destaque: #89b92e;
    --cor-01: #f9f9f9;
    --cor-02: #f2f5f8;
    --cor-03: #dde2e7;
    --cor-04: #a2a3a8;

    /* Fonte */
    --fonte-padrao: 'Montserrat', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--fonte-padrao);
    font-size: 16px;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 1rem 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    background-color: var(--cor-03);
    color: var(--cor-primaria);
}

.container {
    width: 90%;
    max-width: 36rem;
    padding: 2rem;
    background-color: var(--cor-02);
    box-shadow: 0 0.3rem 0.5rem var(--cor-04);
    border-radius: 0.5rem;
    text-align: center;
}

.input-group {
    margin: 1.5rem 0 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-primaria);
}

.input-group input {
    width: 100%;
    padding: 0.65rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-family: var(--fonte-padrao);
    border: solid 0.1rem var(--cor-03);
}

button {
    font-family: var(--fonte-padrao);
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--cor-primaria);
    color: var(--cor-01);
    padding: 1rem 2rem;
    margin: 0.5rem 0.2rem;
    border-radius: 0.3rem;
    transition: all 0.5s ease;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--cor-destaque);
}

hr {
    border: none;
    border-bottom: 0.09rem solid var(--cor-03);
    margin: 1rem 0;
}

#listaEventos {
    list-style-type: none;
    padding: 0;
}

.event-list {
    overflow-y: auto;
    max-height: 15rem;
    margin-bottom: 1rem;
}

#listaEventos li {
    background-color: var(--cor-01);
    padding: 0.65rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    border: solid 0.1rem var(--cor-02);
    border-bottom: solid 0.1rem var(--cor-03);
    transition: all 0.5s ease;
}

#listaEventos li:hover {
    cursor: pointer;
    border: solid 0.1rem var(--cor-destaque);
}
